@media screen and (min-width: 376px) {
    body {
        position: relative;
    }

    .content {
        width: fit-content;
        position: absolute; 
        left: 50%;
        top: 50%;  
        transform: translate(-50%, -50%);
    }

    /* .success {
        margin-top: ;
    } */

    p, h1 {
        max-width: 300px;
    }

    .dismiss {
        max-width: 300px;
        position: static;
        margin-top: 0;
    }
}

@media screen and (max-height: 400px) {
    .dismiss {
        position: static;
    }

    .content {
        height: fit-content;
        padding: 10px 0;
    }
}

@media screen and (min-width: 1000px) {
    body {
        background: var(--Dark-Slate-Grey);
        position: relative;
    }

    .content {
        background: white;
        width: 400px;
        height: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: start;
        justify-content: start;
        padding: 40px;
        border-radius: 30px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .dismiss {
        bottom: 40px;
        width: 320px;
    }
}